.menu__amarelo {
    background-color: var(--cor-amarelo);
    width: 100%;
    height: 12rem;
    position: relative;
}


.menu__branco {
    background-color: var(--cor-cinza);
    width: 70rem;
    height: 38rem;
    margin-left: 6rem;
    top: 3rem;
    position: absolute;
    border-radius: 1rem;
}

.menu__apresentacao {
    display: flex;
    position: absolute;
    top: 6rem;
    margin-left: 15rem;
    
}

.menu__imagem {
    border-radius: 1rem;
    box-shadow: 3px 3px 23px 12px rgba(0, 0, 0, 0.466);
}

.menu__informacao {
    flex-direction: column;
    text-align: center;
    margin: 5rem 0 5rem 10rem;
    font-size: 1.5rem;
}

.menu__titulo, .menu__titulo-nome {
    font-family: var(--fonte-please);
}

.menu__titulo-nome {
    font-size: 3rem;
    padding-bottom: 0.2rem;
}

.menu__lista-item{
    flex-direction: row;
}
.menu__item {
    
    align-items: center;
    /* margin: 0.5rem; */
    color: var(--cor-amarelo);
}