<section id="contatos">
    <h1>MEUS <span>CONTATOS</span></h1>
    <div class="icons-contato">
        <div class="icon">
            <a href="mailto:vanessa.vasconcelos434@gmail.com">
                <mat-icon class="svg-icon circulo" svgIcon="email-icon"></mat-icon>
                <h3>Email</h3>
                <p>vanessa.vasconcelos434&#64;gmail.com</p>
            </a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/in/dev-vanessa-vasconcelos/">
                <mat-icon class="svg-icon circulo" svgIcon="linkedin-icon"></mat-icon>
                <h3>Linkedin</h3>
                <p>&#64;vanessa-vasconcelos</p>
            </a>
        </div>
        <div class="icon">
            <a href="https://github.com/vanessa-vasconcelos">
                <mat-icon class="svg-icon circulo" svgIcon="github-icon"></mat-icon>
                <h3>Github</h3>
                <p>&#64;vanessa-vasconcelos</p>
            </a>
        </div>
    </div>
</section>