#inicio {
  margin-top: 150px;
}

.interface-inicio{
  display: flex;
  align-items: center;
}

.foto-perfil {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
    border-radius: 15px;
  }
}

.texto-apresentacao{
  max-width: 400px;

  h1 {
    font-size: 40px;
    word-break: break-word;
    margin-bottom: 15px;

    span {
      color: var(--primary);
    }
  }

  p {
    text-align: justify;
    width: 400px;
    line-height: 1.8;
  }

  button {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--text-prim);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  button .simbolo {
    font-size: 25px;
  }

  button:hover {
    box-shadow: 0px 0px 8px var(--border);
    transform: scale(1.05);
  }
}

.icons-redes {
  display: grid;
  margin-left: 40px;
}

.icons-redes .icon .circulo {
  width: 30px;
  height: 30px;
}
