<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />

<section id="inicio">
  <div class="interface-inicio">
    <div class="foto-perfil">
      <img src="assets/imgs/foto-min.jpg" alt="Minha foto" />
    </div>
    <div class="texto-apresentacao">
      <h1>👋🏻 Olá, meu <br>nome é <span>Vanessa</span></h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <div class="btn-dowlonload">
        <button>Download <span class="material-symbols-outlined simbolo">
            download
          </span>
        </button>
      </div>
    </div>
    <div class="icons-redes">
      <div class="icon">
        <a href="https://www.linkedin.com/in/dev-vanessa-vasconcelos/">
          <mat-icon class="svg-icon circulo" svgIcon="linkedin-icon"></mat-icon>
        </a>
      </div>
      <div class="icon">
        <a href="https://github.com/vanessa-vasconcelos">
          <mat-icon class="svg-icon circulo" svgIcon="github-icon"></mat-icon>
        </a>
      </div>
    </div>
  </div>
</section>