#projetos {
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.titulo span {
  color: var(--primary);
}

.lista-projetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sobrepor-projetos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #160624f2;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsividade */

@media screen and (max-width: 1024px) {
  #projetos {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  #projetos {
    margin-top: 90px;
  }

  .lista-projetos {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  #projetos {
    margin-top: 80px;
  }
}
