#projetos {
  margin-top: 150px;
}
.titulo span {
  color: var(--primary);
}

.interface-projeto {
  justify-items: center;
}

.lista-projetos {
  padding-top: 5px;
  display: flex;
  margin: 30px;
}

.img-port {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  cursor: pointer;
}

.img-port::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 400px;
  height: 400px;
  background-color: var(--project);
  z-index: 1;
}

.img-port img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detalhes {
  position: absolute;
  z-index: 2;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: var(--text-primary);
}
