<main id="projetos">
  <div class="container">
    <h1 class="titulo">MEUS <span>PROJETOS</span></h1>
    <div class="lista-projetos">
      <app-projeto-card
        *ngFor="let projeto of projetos"
        [imagem]="projeto.imagem"
        [titulo]="projeto.titulo"
        [data]="projeto.data"
        [tecnologias]="projeto.tecnologias"
        [projetoId]="projeto.id"
        (selecionar)="exibirProjeto(projeto)"
      ></app-projeto-card>
    </div>
  </div>
</main>

<app-projeto-modal
  *ngIf="projetoSelecionado"
  [imagem]="projetoSelecionado.imagem"
  [titulo]="projetoSelecionado.titulo"
  [descricao]="projetoSelecionado.descricao"
  [data]="projetoSelecionado.data"
  [repoUrl]="projetoSelecionado.repoUrl"
  [linkedinUrl]="projetoSelecionado.linkedinUrl"
  (fechar)="fecharInformacoes()"
></app-projeto-modal>
