<section id="sobre-mim">
    <div class="interface">
      <div class="foto-perfil">
        <img src="assets/imgs/foto-min.jpg" alt="Minha foto" />
      </div>
  
        <div class="texto-sobre">
          <h1>👋🏻Olá, meu <br>nome é <span>Vanessa</span></h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a 
              type specimen book. It has survived not only five centuries, but also the 
              leap into electronic typesetting, remaining essentially unchanged. 
          </p>
  
          <div class="btn-dowlonload">
            <a href="#">
              <button>Download</button>
            </a>
          </div>
        </div>
    </div>
  </section>