<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />

<section id="sobre-mim">
  <div class="interface">
     <h2 class="titulo">SOBRE <span>MIM</span></h2>
    <div class="texto-sobre">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged.
      </p>

      <!-- <div class="btn-dowlonload">
        <button>Download <span class="material-symbols-outlined simbolo">
            download
          </span>
        </button>
      </div> -->
    </div>
  </div>
</section>