#sobre-mim {
  margin-top: 100px;
}

.interface {
  display: flex;
  align-items: center;
  gap: 100px;
}

.foto-perfil {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  
  // background-color: var(--primary); // cor de fundo (como no exemplo)
  // border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; // blob shape


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
    border-radius: 15px;
  }
}

.texto-sobre {
  max-width: 400px;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    word-break: break-word;
    margin-bottom: 15px;

    span {
      color: var(--primary);
    }
  }

  p {
    line-height: 1.8;
  }

  button {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--text-prim);
    transition: .2s;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  button .simbolo {
    font-size: 25px;
  }

  button:hover {
    box-shadow: 0px 0px 8px var(--border);
    transform: scale(1.05);

  }

}