#projetos {
  padding-top: 100px;
}

.interface-projeto{
    justify-items: center;
}

.lista-projetos {
    padding-top: 5px;
    display: flex;
    margin: 30px;
}

.img-port {
    width: 400px;
    height: 400px; 
    margin: 20px;
}

.img-port img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}