<section id="projetos">
  <div class="interface-projeto">
    <h2 class="titulo">MEUS <span>PROJETOS</span></h2>
    <div class="lista-projetos">
      <div class="box" id="01">
        <div class="img-port login">
          <img src="assets/imgs/login-modificado.jpg" alt="" />
          <div class="detalhes">
            <h1>Página de Login</h1>
            <div class="mini-linguagens">
              <mat-icon class="svg-icon" svgIcon="angular-icon"></mat-icon>
              <mat-icon class="svg-icon" svgIcon="java-icon"></mat-icon>
              <mat-icon class="svg-icon" svgIcon="sass-icon"></mat-icon>
              <mat-icon class="svg-icon" svgIcon="html5-icon"></mat-icon>
            </div>
          </div>
        </div>
        <div class="descricao"></div>
      </div>

      <div class="box" id="02">
        <div class="img-port cardapio">
          <img src="assets/imgs/cardapio-min.jpg" alt="" />
          <div class="detalhes">
            <h1>Cardápio</h1>
            <div class="mini-linguagens">
              <mat-icon class="svg-icon" svgIcon="typescript-icon"></mat-icon>
              <mat-icon class="svg-icon" svgIcon="java-icon"></mat-icon>
              <mat-icon class="svg-icon" svgIcon="spring-icon"></mat-icon>
              <mat-icon class="svg-icon" svgIcon="sass-icon"></mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="descricao"></div>
    </div>
  </div>
</section>