@import "../../../styles/";

section.projetos {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px var(--bg);
}

section.projetos .flex {
  justify-content: space-around;
}

.img-port {
  width: 700px;
  height: 900px;
  background-size: cover;
  cursor: pointer;
  border-radius: 40px;
}

img {
  width: 90%;
}
