<!-- <section class="conhecimento">
  <div class="interface">
    <h2 class="titulo">MEUS <span>CONHECIMENTOS</span></h2>
    <div class="flex">
      <div class="conhecimento-box">
        <img src="images/html.svg" alt="" />
        <h3>HTML</h3>
      </div>

      <div class="conhecimento-box">
        <img src="images/css-3.svg" alt="" />
        <h3>CSS</h3>
      </div>

      <div class="conhecimento-box">
        <img src="images/java-script.svg" alt="" />
        <h3>JS</h3>
      </div>

      <div class="conhecimento-box">
        <img src="images/java.svg" alt="" />
        <h3>Java</h3>
      </div>

      <div class="conhecimento-box">
        <img src="images/python.svg" alt="" />
        <h3>Python</h3>
      </div>
    </div>
  </div>
</section> -->
<section id="conhecimento">
  <h1>CONHECIMENTO</h1>
</section>