<section id="conhecimento">
  <div class="interface">
    <h2 class="titulo">MEUS <span>CONHECIMENTOS</span></h2>
    <div class="todos-conhecimentos">
      <div class="conhecimento-box">
        <img src="assets/svgs/html.svg" alt="" />
        <h3>HTML</h3>
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/css-3.svg" alt="" />
        <h3>CSS</h3>
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/java-script.svg" alt="" />
        <h3>JS</h3>
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/java.svg" alt="" />
        <h3>Java</h3>
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/python.svg" alt="" />
        <h3>Python</h3>
      </div>
    </div>
  </div>
</section>