<section id="conhecimento">
  <div class="interface">
    <h2 class="titulo">MEUS <span>CONHECIMENTOS</span></h2>
    <div class="todos-conhecimentos">
      <div class="conhecimento-box">
        <img src="assets/svgs/icons8-html-5.svg" alt="Logo do HTML" />
        <!-- <h3>HTML</h3> -->
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/icons8-css3.svg" alt="Logo do CSS" />
        <!-- <h3>CSS</h3> -->
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/icons8-javascript-logo.svg" alt="Logo do JS" fill="rgb(183, 124, 255)" />
        <!-- <h3>JS</h3> -->
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/icons8-java.svg" alt="Java" />
        <!-- <h3>Java</h3> -->
      </div>

      <div class="conhecimento-box">
        <img src="assets/svgs/icons8-python.svg" alt="Logo do Python" />
        <!-- <h3>Python</h3> -->
      </div>
    </div>
  </div>
</section>