@import "../../../styles/styles.scss";

#conhecimento {
    padding-top: 100px;
}


.interface {
    display: flex;
    // align-items: center;
    gap: 100px;
}

.titulo span {
    color: var(--primary);
}

.todos-conhecimentos {
    display: flex;
    flex-wrap: wrap;
    // align-items: end;
    justify-content: start;

    img {
        width: 65px;
        height: 70px;
    }

    .conhecimento-box {
        margin: 15px;
        background-color: rgba(36, 27, 44, 0.48);
        padding: 15px;
        display: grid;
        border-radius: 8px;
        transition: border 0.9s, box-shadow 0.9s; 
        border: 1px solid transparent;
    }

    .conhecimento-box:hover {
        border: 1px solid var(--primary);
    }
}

// section.conhecimento {
//   padding: 80px 4%;
// }

// .conhecimento .conhecimento-box {
//   padding: 20px;
//   display: inline;
//   background-color: var(--surface);

//   border-radius: 25px;
//   text-align: center;
//   transition: 0.2s;

//   width: 120px;
//   height: 140px;
// }

// .conhecimento .flex {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
//   gap: 60px;
//   margin-top: 45px;
//   justify-items: center;
// }

// .conhecimento .conhecimento-box img {
//   width: 70px;
//   height: 70px;
// }

// .conhecimento .conhecimento-box h3 {
//   font-size: 25px;
//   margin-top: 5px;
//   color: var(--text-secondary);
//   font-weight: 600;
// }

// section h1{
//   padding: 150px 4%;
// }