<section id="contatos">
  <main class="interface-contatos">
    <h1 class="titulo">MEUS <span>CONTATOS</span></h1>
    <div class="icons-contato">
      <div class="container-icon">
        <a class="icon" href="mailto:vanessa.vasconcelos434@gmail.com">
          <i class="fa-solid fa-envelope"></i>
          <h3>Email</h3>
        </a>
        <p>{{ "vanessa.vasconcelos434@gmail.com" }}</p>
      </div>

      <div class="container-icon">
        <a
          target="_blank"
          class="icon"
          href="https://www.linkedin.com/in/dev-vanessa-vasconcelos/"
        >
          <i class="fa-brands fa-github"></i>
          <h3>Linkedin</h3>
        </a>
        <p>{{ "@vanessa-vasconcelos" }}</p>
      </div>

      <div class="container-icon">
        <a
          target="_blank"
          class="icon"
          href="https://github.com/vanessa-vasconcelos"
        >
          <i class="fa-brands fa-linkedin"></i>
          <h3>Github</h3>
        </a>
        <p>{{ "@vanessa-vasconcelos" }}</p>
      </div>
    </div>
  </main>
</section>
