#sobre-mim {
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 350px;
}

.titulo span {
  color: var(--primary);
}

.btn button {
  margin-top: 20px;
}

.curriculo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ---------- NOTEBOOK (até 1024px) ---------- */
@media screen and (max-width: 1024px) {
  #sobre-mim {
    margin-top: 100px;
  }
}

/* ---------- TABLET (até 768px) ---------- */
@media screen and (max-width: 768px) {
  #sobre-mim {
    margin-top: 90px;
  }
}

/* ---------- CELULAR (até 576px) ---------- */
@media screen and (max-width: 576px) {
  #sobre-mim {
    margin-top: 80px;
  }

  .container {
    min-height: 500px;
  }
}
