#sobre-mim {
  margin-top: 150px;
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.titulo span {
  color: var(--primary);
}

.texto-sobre p {
  text-align: justify;
  line-height: 1.8;
}

.btn button {
  margin-top: 20px;
}
