<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />

<section id="sobre-mim">
  <div class="interface">
    <h1 class="titulo">SOBRE <span>MIM</span></h1>
    <div class="texto-sobre">
      <p>
        Olá, meu nome é Vanessa e sou desenvolvedora fullstack em formação. Meu interesse por programação começou
        durante o curso técnico em informática que realizei e, desde então, minha curiosidade e paixão pela área só
        aumentaram.
        <br>
        Atualmente, estou no 5º semestre da graduação em Ciência da Computação e sigo aprofundando meus conhecimentos,
        especialmente nas áreas de desenvolvimento back-end e front-end.
      </p>
    </div>
    <button>
      Download
      <i class="fa-solid fa-download"></i>
    </button>
  </div>
</section>