<section class="img-port">
  <div class="container-infos">
    <img src="assets/imgs/cardapio-min.jpg" alt="">
    <div class="container-texto">
      <div class="topo-texto">
        <h1>Cardápio</h1>
        <span (click)="fecharTela()">x</span>
      </div>
      <p>Esse foi um projeto fullstack que desenvolvi com base em um tutorial da Fernanda Kipper. A ideia era treinar a
        integração entre front-end e back-end usando tecnologias modernas. Com ele, é possível visualizar os pratos
        disponíveis e cadastrar novos via formulário.
        <br>
        Utilizei React com TypeScript no front e Spring Boot com Java no back, além de React Query e uma API RESTful
        simples com Spring Web e JPA. </p>
      <h2>27 de Abril de 2025</h2>
    </div>
  </div>
  <div class="btn">
    <a href="https://github.com/vanessa-vasconcelos/cardapio.git" target="_blank">
      <button>Acessar Repositório</button>
    </a>
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7328867193641684992/" target="_blank">
      <button>Ver post no Linkedin</button>
    </a>
  </div>
</section>