<section class="img-port">
  <div class="container-infos">
    <img src="assets/imgs/cardapio-min.jpg" alt="">
    <div class="container-texto">
      <div class="topo-texto">
        <h1>Cardápio</h1>
        <span (click)="fecharTela()">x</span>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>
      <h2>27 de Abril de 2025</h2>
    </div>
  </div>
  <div class="btn">
    <a href="https://github.com/vanessa-vasconcelos/cardapio.git" target="_blank">
      <button>Acessar Repositório</button>
    </a>
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7328867193641684992/" target="_blank">
      <button>Ver post no Linkedin</button>
    </a>
  </div>
</section>