section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 650px;
  width: 1180px;
  left: 600px;
  padding: 25px;
  background-color: var(--border);
}

.img-port img {
  width: 500px;
  height: 500px;
  border-radius: 20px 20px 20px 20px;
}

.container-infos {
  display: flex;
}

.container-texto {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topo-texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
}

.topo-texto span {
  font-size: 30px;
  cursor: pointer;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: var(--text-secondary);
}

h2 {
  color: var(--primary);
  font-size: 15px;
}


button {
  margin: 25px 25px 25px 15px;
}