#inicio {
  margin-top: 150px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto-perfil {
  display: flex;
  background-color: var(--primary);
  border-radius: 20px;
  padding-top: 5px;
}

.foto-perfil img {
  object-fit: cover;
  border-radius: 10px;
  width: 220px;
  height: auto;
}

.texto-apresentacao {
  margin: 0 48px;
  display: flex;
  flex-direction: column;
}

.texto-apresentacao h1 {
  font-size: 48px;
}

.texto-apresentacao h2 {
  font-size: 40px;
}

.texto-apresentacao p {
  margin-top: 16px;
}

.nome {
  color: var(--primary);
}

.icons-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.icons-redes a i {
  width: 64px;
  height: 64px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  transition: 0.5s, box-shadow 0.5s;
}

.icons-redes a i:hover {
  box-shadow: 0px 0px 0px 8px var(--border);
  transform: scale(1.05);
}

.icons-redes a i:active {
  border: 1px solid var(--text-primary);
  transform: scale(0.95);
}

/* ---------- NOTEBOOK (até 1024px) ---------- */
@media screen and (max-width: 1024px) {
  #inicio {
    margin-top: 80px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .texto-apresentacao {
    margin: 24px 0;
    align-items: center;
    text-align: center;
  }

  .icons-redes {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

/* ---------- TABLET (até 768px) ---------- */
@media screen and (max-width: 768px) {
  #inicio {
    margin-top: 65px;
  }

  .foto-perfil img {
    width: 180px;
  }

  .texto-apresentacao {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
  }
}

/* ---------- CELULAR (até 576px) ---------- */
@media screen and (max-width: 576px) {
  #inicio {
    margin-top: 50px;
  }

  .foto-perfil img {
    width: 140px;
  }

  .texto-apresentacao {
    margin: 24px 0;
  }

  .texto-apresentacao h1 {
    font-size: 38px;
  }

  .texto-apresentacao h2 {
    font-size: 30px;
  }

  .icons-redes {
    flex-direction: row;
  }
}
