#inicio {
  margin-top: 150px;
}

.interface-inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto-perfil {
  display: flex;
  background-color: var(--primary);
  border-radius: 20px;
  padding-top: 5px;
}

img {
  object-fit: cover;
  border-radius: 10px;
}

.texto_redes {
  display: flex;
}

.texto-apresentacao {
  max-width: 400px;
  margin-right: 60px;
}

h1 {
  font-size: 48px;
  word-break: break-word;
}

span {
  font-size: 48px;
  word-break: break-word;
  font-weight: bold;
}

.nome {
  color: var(--primary);
}

p {
  margin-top: 15px;
}

.icon {
  font-size: 48px;
}

.icons-redes {
  margin-top: 20px;
}

.icons-redes .icon .circulo {
  width: 64px;
  height: 64px;
}

i {
  transition: 0.5s, box-shadow 0.5s;
}

i:hover {
  box-shadow: 0px 0px 0px 8px var(--border);
  transform: scale(1.05);
}

i:active {
  border: 1px solid var(--text-primary);
}

@media screen and (max-width: 1102px) {
  .interface-inicio {
    align-items: flex-start;
  }

  .interface-foto {
    width: 249px;
    height: 349px;
  }

  .texto_redes {
    margin-left: 40px;
  }

}

@media screen and (max-width: 839px) {
  .interface-inicio {
    display: flex;
  }

  .texto_redes {
    display: block;
  }

  .icons-redes {
    display: flex;
    justify-items: center;

  }

  .icon {
    margin-left: 80px;
  }

  h1,
  span {
    font-size: 38px;
  }

  span {
    text-align: center;
  }

  @media screen and (max-width:825) {
    .nome {
      display: block;
      text-align: center;
    }
  }

  @media screen and (max-width: 629px) {

    #inicio {
      margin-top: 100px;
    }

    .interface-inicio {
      display: block;
      justify-items: center;
    }

    .texto-apresentacao {
      margin-top: 130px;
      justify-items: center;
    }

    .icon {
      margin-left: 100px;
    }

  }

}