<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />

<section id="inicio">
  <main class="interface-inicio">
    <div class="interface-foto">
      <div class="foto-perfil">
        <img src="assets/imgs/foto-min.png" alt="Minha foto" />
      </div>
    </div>
    <div class="texto_redes">
      <div class="texto-apresentacao">
        <h1>👋🏻 Olá, meu </h1>
        <span>nome é <span class="nome">Vanessa</span></span>
        <p>
          Sou desenvolvedora fullstack em construção, técnica em informática e
          universitária apaixonada pelo mundo da tecnologia, especialmente
          pelo universo da programação.
        </p>
      </div>
      <div class="icons-redes">
        <a class="icon icon-linkedin" target="_blank" href="https://www.linkedin.com/in/dev-vanessa-vasconcelos/">
          <i class="fa-brands fa-linkedin circulo"></i>
        </a>

        <a class="icon icon-github" target="_blank" href="https://github.com/vanessa-vasconcelos">
          <i class="fa-brands fa-github circulo"></i>
        </a>
      </div>
    </div>
  </main>
</section>