<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download"
/>

<section id="inicio">
  <main class="interface-inicio">
    <div class="foto-perfil">
      <img src="assets/imgs/foto-min.png" alt="Minha foto" />
    </div>
    <div class="texto-apresentacao">
      <h1>👋🏻 Olá, meu <br />nome é <span>Vanessa</span></h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
    </div>
    <div class="icons-redes">
      <a
        class="icon"
        target="_blank"
        href="https://www.linkedin.com/in/dev-vanessa-vasconcelos/"
      >
        <i class="fa-brands fa-linkedin circulo"></i>
      </a>

      <a
        class="icon"
        target="_blank"
        href="https://github.com/vanessa-vasconcelos"
      >
        <i class="fa-brands fa-github circulo"></i>
      </a>
    </div>
  </main>
</section>
