/* You can add global styles to this file, and also import other style files */
@import "../styles/styles.scss";

// @font-face {
//   font-family: "font-geral", sans-serif;
  
// }
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  transition: background 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}


body {
  font-family: "font-geral", sans-serif;
  background: var(--bg);
  color: var(--text-prim);
}

li {
  list-style-type: none;
}