<nav class="nav-container menu-desktop">
  <li class="nav-li"><a class="nav-a" href="#sobre-mim">Sobre</a></li>
  <li class="nav-li"><a class="nav-a" href="#conhecimento">Conhecimento</a></li>
  <li class="nav-li"><a class="nav-a" href="#projetos">Projetos</a></li>
  <li class="nav-li"><a class="nav-a" href="#contatos">Contatos</a></li>
  <li class="nav-li" (click)="alteraLightMode()">
    <i *ngIf="!lightMode" class="uil uil-moonset"></i>
    <i *ngIf="lightMode"  class="uil uil-sunset"></i>
  </li>

</nav>