.conteudo {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.conteudo-center {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}