<section class="img-port">
  <div class="container-infos">
    <img src="assets/imgs/login-modificado.jpg" alt="">
    <div class="container-texto">
      <div class="topo-texto">
        <h1>Página de Login</h1>
        <span (click)="fecharTela()">x</span>
      </div>
      <p>Esse projeto foi uma ótima oportunidade para aprender, na prática, como funciona o fluxo completo de
        autenticação. Desenvolvi uma aplicação com cadastro e login de usuários usando Angular no front e integração com
        backend em Java com Spring Boot.
        <br>
        Implementei rotas protegidas, autenticação com JWT, formulários reativos e toda a lógica de verificação de
        credenciais.</p>
      <h2>07 Maio de 2025</h2>
    </div>
  </div>
  <div class="btn">
    <a href="https://github.com/vanessa-vasconcelos/login-page" target="_blank">
      <button>Acessar Repositório</button>
    </a>
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7328407120951853057/" target="_blank">
      <button>Ver post no Linkedin</button>
    </a>
  </div>
</section>