:root {
  /* Dark theme (padrão) */
  --bg: #160624;
  --surface: #2d1541;
  --text-primary: #e4e4eb;
  --text-secondary: #a3a3b8;
  --primary: #b77cff;
  --accent: #4fc3f7;
  --border: #2e2e50;
  --bg-claro: #160624f2;
  --error: #ff6b6b;
  --project: #b77cffcc;
  --border-inicio: #00000026 /* fazer a cor para modo claro*/
}

[data-theme="Light"] {
  /* Light theme */
  --bg: #f4f4f8;
  --surface: #ffffff;
  --text-primary: #1f1f38;
  --text-secondary: #4a4a67;
  --primary: #7b57f2;
  --accent: #5c9ce5;
  --border: #e0e0ec;
  // --bg-claro: #1606242c;
  --error: #e94560;
  --project: #7b57f2cc;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  transition: background 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

body {
  font-family: "font-geral", sans-serif;
  background: var(--bg);
  color: var(--text-primary);
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

.circulo {
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 25px;
  color: var(--text-primary);
}

h1 {
  font-size: 28px;
}

 button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--text-primary);
  transition: 0.2s;
}

 button:hover {
  box-shadow: 0px 0px 25px var(--border);
  transform: scale(1.05);
}

button:active {
  border: 1px solid var(--text-primary);
}


.img-port img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.8;
}

.nivel-conhecimento {
  color: var(--primary);
  line-height: 100px;
}
