#conhecimento {
  margin-top: 150px;
}

.interface {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.textos-conhecimento {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.titulo {
  margin-bottom: 10px;
}

.titulo span {
  color: var(--primary);
}

.dsecricao-linguagem p{
  color: var(--text-secondary);
}

.todos-conhecimentos {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.svg-icon {
  width: 70px;
  height: 70px;
  color: var(--text-primary);
}

.conhecimento-box {
  margin: 15px;
  background-color: var(--primary);
  padding: 15px;
  display: grid;
  border-radius: 8px;
  transition: 0.2s, box-shadow 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}

.conhecimento-box:hover {
  box-shadow: 0px 0px 0px 10px var(--border);
  transform: scale(1.05);
}

.conhecimento-box:active {
  border: 1px solid var(--text-primary);
}


@media screen and (max-width: 755px) {
  .interface {
    display: block;
  }

  .todos-conhecimentos {
    margin-top: 25px;
  }
}
