<main id="conhecimento">
  <div class="container">
    <h1 class="titulo">MEUS<span> CONHECIMENTOS</span></h1>
    <div class="todos-conhecimentos">
      <div
        class="conhecimento-box"
        *ngFor="let conhecimento of conhecimentos"
        (click)="mostrarDescricao(conhecimento)"
        (keyPress)="mostrarDescricao(conhecimentos)"
      >
        <mat-icon class="svg-icon" [svgIcon]="conhecimento.icone"></mat-icon>
      </div>
      <p *ngIf="descricaoLinguagem" [innerHTML]="descricaoLinguagem"></p>
    </div>
  </div>
</main>
