#conhecimento {
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 350px;
}

.titulo {
  margin-bottom: 16px;
}

.titulo span {
  color: var(--primary);
  font-weight: bold;
}

.todos-conhecimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.todos-conhecimentos p {
  margin-top: 16px;
}

.svg-icon {
  width: 64px;
  height: 64px;
  color: var(--text-primary);
}

.conhecimento-box {
  background-color: var(--primary);
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  transition: 0.2s, box-shadow 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
}

.conhecimento-box:hover {
  box-shadow: 0px 0px 0px 10px var(--border);
  transform: scale(1.05);
}

.conhecimento-box:active {
  transform: scale(0.95);
}

/* ---------- NOTEBOOK (até 1024px) ---------- */
@media screen and (max-width: 1024px) {
  #conhecimento {
    margin-top: 100px;
  }
}

/* ---------- TABLET (até 768px) ---------- */
@media screen and (max-width: 768px) {
  #conhecimento {
    margin-top: 90px;
  }
}

/* ---------- CELULAR (até 576px) ---------- */
@media screen and (max-width: 576px) {
  #conhecimento {
    margin-top: 80px;
  }

  .svg-icon {
    width: 40px;
    height: 40px;
    color: var(--text-primary);
  }
}
